<!-- 모달창 -->
<div class="pop-up">
  <article class="jalnan">
      <h3 id="modal-text"></h3>
  </article>
</div>

<footer>
   
</footer>

<script>

/* HTML , CSS , JAVASCRIPT 모두 load 완료 시 progress-bar 숨기기 */
window.onload = function() {
    document.querySelector("#progress-bar").className = "display-none";
}

    const menus = document.querySelectorAll(".main-menu li");
    const subMenu = document.querySelector(".sub-menu");
    const playMenu = document.querySelector(".play-sub-menu");
    const eatMenu = document.querySelector(".eat-sub-menu");
    const main = document.querySelector("main");
    const subCategoryWraps = document.querySelectorAll(".sub-category-wrap");
    const showMenuBtn = document.querySelector("#bars-btn");

    function openMenu(currentMenu,anotherMenu){
      subMenu.classList.add("menu-block");
      currentMenu.classList.add("selected-sub-menu");
      anotherMenu.classList.remove("selected-sub-menu");
      main.classList.add("menu-opened");
    }

    function closeMenu(){
      subMenu.classList.remove("menu-block");
      main.classList.remove("menu-opened");
    }

    /* 화면 너비가 900px 이상일 때 */
    menus.forEach((menu)=>{
        menu.addEventListener('mouseenter',(e)=>{
          const menuName = e.target.innerText;
            if(window.innerWidth > 900){
                if(menuName === "게시판"){
                  closeMenu();
                }else if(menuName === "즐길거리"){
                  openMenu(playMenu,eatMenu);
                }
                else if(menuName === "먹거리"){
                  openMenu(eatMenu,playMenu);
                }
            }
            });
          });

    document.addEventListener('mousemove', (event) => {
      if(convertPXToVH(event.clientY) > 45){
          closeMenu();
      }
    });
   

    window.addEventListener("resize",()=>{
      if(window.innerWidth < 920){
        subMenu.classList.remove("menu-block");
      }
    })

    let isSubMenuOpened = false;
    showMenuBtn.addEventListener("click",(e)=>{
      if(isSubMenuOpened){
        document.querySelector(".header-center").classList.remove("show-sub-menu-right");
        document.querySelector(".header-center").classList.add("hide-sub-menu-right");
        isSubMenuOpened = false;
      }
        else{
          document.querySelector(".header-center").classList.remove("hide-sub-menu-right");
          document.querySelector(".header-center").classList.add("show-sub-menu-right");
        isSubMenuOpened = true;
      }
    })
   
   
    
    
    
   

/* pixel to vh function */
function convertPXToVH(px) {
	return px * (100 / document.documentElement.clientHeight);
}

          $(function() {
  let body = $('#starshine'),
      template = $('.template.shine'),
      stars =  500,
      sparkle = 20;
  
    
  let size = 'small';
  const createStar = function() {
    template.clone().removeAttr('id').css({
      top: (Math.random() * 100) + '%',
      left: (Math.random() * 100) + '%',
      webkitAnimationDelay: (Math.random() * sparkle) + 's',
      mozAnimationDelay: (Math.random() * sparkle) + 's'
    }).addClass(size).appendTo(body);
  };
 
  for(let i = 0; i < stars; i++) {
    if(i % 2 === 0) {
      size = 'small';
    } else if(i % 3 === 0) {
      size = 'medium';
    } else {
      size = 'large';
    }
    
    createStar();
  }
});



  
    

 </script>

<script src="/js/login.js"></script>
<script src="/js/member.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.0/kakao.min.js"
integrity="sha384-PFHeU/4gvSH8kpvhrigAPfZGBDPs372JceJq3jAXce11bVA6rMvGWzvP4fMQuBGL"
crossorigin="anonymous"
></script>
<script
src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
charset="utf-8"
></script>
</body>
</html>