<!-- 모달창 -->
<div class="pop-up">
  <article class="jalnan">
      <h3 id="modal-text"></h3>
  </article>
</div>

<footer>
  <nav>
    <a href='https://velog.io/@nimoh' target='_blank'>Blog</a> |
    <a href='https://github.com/nimohLee' target='_blank'>Github</a>
  </nav>
  <p>
    <span>저자 : nimoh</span><br/>
    <span>이메일 : spakers38@gmail.com</span><br/>
    <span>Copyright 2022. nimoh. All Rights Reserved.</span>
  </p>
</footer>

<script src="/js/header.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>