<footer>
   
</footer>

<script>
    const menus = document.querySelectorAll(".main-menu li");
    const subMenu = document.querySelector(".sub-menu");
    const playMenu = document.querySelector(".play-sub-menu");
    const eatMenu = document.querySelector(".eat-sub-menu");
    const main = document.querySelector("main");
    menus.forEach((menu)=>{
         menu.addEventListener('mouseenter',(e)=>{
             const menuName = e.target.innerText;
             subMenu.classList.add("menu-block");
           

             if(menuName === "즐길거리"){
                 eatMenu.classList.remove("selected-sub-menu");
                 playMenu.classList.add("selected-sub-menu");
                //  mains.forEach((main)=>{
                 main.classList.add("menu-opened");
            //  })

                
             }
             else if(menuName === "먹거리"){
                 playMenu.classList.remove("selected-sub-menu");
                 eatMenu.classList.add("selected-sub-menu");
                //  mains.forEach((main)=>{
                 main.classList.add("menu-opened");
            //  })

             }else if(menuName === "게시판"){
                 subMenu.classList.remove("menu-block");
                //  mains.forEach((main)=>{
                 main.classList.remove("menu-opened");
            //  })
             }
         });
        
    })

    document.addEventListener('mousemove', (event) => {
      if(convertPXToVH(event.clientY) > 45){
        subMenu.classList.remove("menu-block");
        // mains.forEach((main)=>{
          main.classList.remove("menu-opened");
        // })
      }
      
});

/* pixel to vh function */
function convertPXToVH(px) {
	return px * (100 / document.documentElement.clientHeight);
}
    
    // subMenu.addEventListener('mouseleave',(e)=>{
    //      subMenu.classList.remove("menu-block");
    //      mains.forEach((main)=>{
    //         main.classList.remove("menu-opened");
    //          })
         
    //     })


          $(function() {
  let body = $('#starshine'),
      template = $('.template.shine'),
      stars =  500,
      sparkle = 20;
  
    
  let size = 'small';
  const createStar = function() {
    template.clone().removeAttr('id').css({
      top: (Math.random() * 100) + '%',
      left: (Math.random() * 100) + '%',
      webkitAnimationDelay: (Math.random() * sparkle) + 's',
      mozAnimationDelay: (Math.random() * sparkle) + 's'
    }).addClass(size).appendTo(body);
  };
 
  for(let i = 0; i < stars; i++) {
    if(i % 2 === 0) {
      size = 'small';
    } else if(i % 3 === 0) {
      size = 'medium';
    } else {
      size = 'large';
    }
    
    createStar();
  }
});
 </script>

<script src="/js/board.js"></script>
<script src="/js/login.js"></script>
<script src="/js/member.js"></script>
<script src="/js/trip.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</body>
</html>