<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
        <!-- <meta http-equiv="x-dns-prefetch-control" content="off"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/reset.css" as="style" crossorigin="crossorigin"/>
        <link rel="stylesheet" href="/css/indexStyle.css" as="style" crossorigin="crossorigin"/>
        
        <link
            href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&family=Roboto:wght@400;700&family=Titillium+Web:wght@400;700&family=Do+Hyeon&family=Jua&family=Nanum+Brush+Script&family=Gowun+Dodum&display=swap"
            rel="stylesheet"
        />

        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  
        <title>Document</title>
        
    </head>
    <body>
        <header>
            <div id="main-header">
                <div class="header-left logo roboto">
                    <a href="/">
                        <img src="/assets/logo.jpg" alt="logo" />
                        <span>낭만부산</span>
                    </a>
                </div>
                <div class="header-center">
                    <ul class="main-menu gmarket">
                        <li><a href="#">즐길거리</a></li>
                        <li><a href="#">먹거리</a>
                        </li>
                        <li><a href="/board/main">게시판</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="/cart">나의 낭만</a></li>
                        <li>
                            <% if(session=== undefined){ %>
                            <a href="/users/login">로그인</a>
                            <%}else{%>
                            <a onclick="logout()" style="cursor: pointer" id="logoutBtn">
                                로그아웃
                            </a>
                            <%}%>
                        </li>
                        <li><a href="/users/register">회원가입</a></li>
                    </ul>
                </div>
            </div>


            <div id="sub-header">
                <div class="sub-menu menu-hidden">
                    <div class="play-sub-menu">
                        <div class="sub-menu-title-wrap">
                            <h4 class="hans">즐길거리</h4>
                
                            <h5 class="brush">부산에서 신나게 놀아보자 !</h5>
                        </div>
                        <div class="sub-menu-button-wrap dohyeon">
                            <a href="/play/sightseeing">관광명소
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/play/amusement">놀이시설
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/play/leisure">레저
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class= "eat-sub-menu dohyeon">
                        <div class="sub-menu-title-wrap">
                            <h4 class="hans">먹거리</h4>
                            <h5 class="brush">부산에서 맛있게 먹어보자 !</h5>
                        </div>
                        <div class="sub-menu-button-wrap">
                            <a href="/eat/restaurant">식당
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/eat/cafe">카페
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/eat/market">시장
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                        </div>
                
                    </div>
                </div>
            </div>

            <div id="progress-bar" class="display-flex">
                <span id="loader">
                </span>
            </div>
            

        </header>
       
