<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
        <!-- <meta http-equiv="x-dns-prefetch-control" content="off"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/reset.css" as="style" crossorigin="crossorigin"/>
        <link rel="stylesheet" href="/css/header.css" as="style" crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@400;700&family=Roboto:wght@400;700&family=Titillium+Web:wght@400;700&family=Do+Hyeon&family=Jua&family=Nanum+Brush+Script&family=Gowun+Dodum&display=swap"
            rel="stylesheet"
        />
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <header>
            <div id="main-header">
                <div class="header-left logo roboto">
                    <a href="/">
                        <img src="/assets/logo.jpg" alt="logo" />
                        <span>낭만부산</span>
                    </a>
                </div>
                <div class="header-center">
                    <ul class="main-menu gmarket">
                        <li><a href="#" class="main-category">즐길거리</a>
                            <ul class="sub-category-wrap">
                                <li><a href="/play/sightseeing" class="sub-category">관광명소</a></li>
                                <li><a href="/play/amusement" class="sub-category">놀이시설</a></li>
                                <li><a href="/play/leisure" class="sub-category">레저</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="main-category">먹거리</a>
                            <ul class="sub-category-wrap">
                                <li><a href="/eat/restaurant" class="sub-category">식당</a></li>
                                <li><a href="/eat/cafe" class="sub-category">카페</a></li>
                                <li><a href="/eat/market" class="sub-category">시장</a></li>
                            </ul>
                        </li>
                       
                        <li><a href="/board/main" class="main-category">게시판</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="/cart">나의 낭만</a></li>
                        <li>
                            <% if(session=== undefined){ %>
                            <a href="/users/login">로그인</a>
                            <li><a href="/users/register">회원가입</a></li>
                            <%}else{%>
                            <a onclick="logout()" style="cursor: pointer" id="logoutBtn">
                                로그아웃
                            </a>
                            <%}%>
                        </li>
                        
                    </ul>
                </div>
                <i class="fa-solid fa-bars" id="bars-btn"></i>  
            </div>
            <div id="sub-header">
                <div class="sub-menu display-none">
                    <div class="play-sub-menu">
                        <div class="sub-menu-title-wrap">
                            <h4 class="hans">즐길거리</h4>
                            <h5 class="brush">부산에서 신나게 놀아보자 !</h5>
                        </div>
                        <div class="sub-menu-button-wrap dohyeon">
                            <a href="/play/sightseeing">관광명소
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/play/amusement">놀이시설
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/play/leisure">레저
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class= "eat-sub-menu dohyeon">
                        <div class="sub-menu-title-wrap">
                            <h4 class="hans">먹거리</h4>
                            <h5 class="brush">부산에서 맛있게 먹어보자 !</h5>
                        </div>
                        <div class="sub-menu-button-wrap">
                            <a href="/eat/restaurant">식당
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/eat/cafe">카페
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                            <a href="/eat/market">시장
                                <i class="fa-regular fa-circle-check check-icon"></i>
                            </a>
                        </div>
                
                    </div>
                </div>
            </div>
            <!-- <div id="progress-bar" class="display-flex">
                <span id="loader">
                </span>
            </div> -->
        </header>
       
