<%-include('./header.ejs') %>
<link rel="stylesheet" href="/css/indexStyle.css" as="style" crossorigin="crossorigin"/>

<div class="bg">
    
</div>
<div id="starshine">
    <div class="template shine"></div>
</div>

<main class="index-main">
    <div class="main-title hans">
        <h1 class="main-disappear title1">부산에서</h1>
        <h1 class="main-disappear title2">낭만을 여행하다</h1>
        <h1 class="main-disappear title3">Roman Trip</h1>
        <a href="/play/sightseeing">
            <button class="start-btn main-disappear">
            <h2>지금 놀러가기</h2>
            <i class="fa-solid fa-arrow-right"></i>
        </button></a>
    </div>
</main>
<script>
    document.title = "RomanTrip > Main";
    function setAppear(params) {
        params.classList.remove("main-disappear");
        params.classList.add("main-appear");
    }
    setTimeout(() => {
        const item = document.querySelector(".title1");
        setAppear(item);
    }, 100);

    setTimeout(() => {
        const item = document.querySelector(".title2");
        setAppear(item);
    }, 500);

    setTimeout(() => {
        const item = document.querySelector(".title3");
        setAppear(item);
    }, 900);

    setTimeout(() => {
        const item = document.querySelector(".start-btn");
        setAppear(item);
    }, 1400);

    const arrowIcon = document.querySelector(".start-btn i");
    setInterval(() => {
        arrowIcon.classList.toggle("move-right");
    }, 500);
</script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="/js/index.js" defer></script>
<%-include('./footer.ejs') %>
