@charset "utf-8";
@import "./reset.css";
:root {
    --sea-blue-color: #7fbcd2;
    --sea-teal-color: #a5f1e9;
    --sea-green-color: #e1ffee;
    --sea-yellow-color: #ffeeaf;
    --sea-yellow-color-trans: #f4e7bb;
    --summer-black-color: #222831;
    --summer-blue-color: #00adb5;
    --summer-black2-color: #393e46;
    --summer-gray-color: #eeeeee;
}

.subject-title h3{ 
    padding : 1.5em 0 1.5em 1.5em;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1em;
    font-size: 2em;
}

.paging-btn {
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFD6EC;
}



#board-main{
    width: 100%;
    height: 100%;
}

#board-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 테이블 */
#board-table-section {
    width: 80vw;
    height: 70vh;
    background-color: white;
    
}
#board-table-article {
    width: 100%;
    height: 90%;
}

#board-table {
    width: 100%;
    height: 90px;
    text-align: center;
    color: var(--summer-black2-color);
}

#board-table thead{
    height: 20px;
}

#board-table th {
    background-color: #FFD6EC;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 30px;
}

.nbsp-tr{
    height: 6vh;
    
}
#title-td:hover{
    text-decoration: underline;
}

.data-tr{
    height: 10%;
}

#board-footer{
    display: flex;
    justify-content: space-between;
}

#paging-btn-wrap{
    margin-left: 10px
}

.icon{
    cursor:pointer;
}

/* 글쓰기 write.ejs*/



#write-section{
    margin-left: 20px;
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
}

.write-title{
    height: 40px;
    width: 90%;
    padding : 11px 12px 10px;    
    border: 1px solid #ebecef;
    resize: none;
    overflow: hidden;
    font-size: 18px;
    letter-spacing: -.23px;
    line-height: 17px;
    word-break: break-all;
    font-weight: 700;   
}


.write-content{
    width: 90%;
    padding : 11px 12px 10px;    
    margin : 30px 0;
    height: 40vh;
    font-size: 15px;
    outline: 0;
    border: 1px solid #ebecef;   
    resize: none;
    line-height: 25px;
}
.write-page-btns{
    float: right;
    margin-right: 20px;
}
.write-page-btns input{
    margin-left: 15px;
    background-color: #FFD6EC;
    border: 1px solid #FFD6EC;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

/* 글 읽기 ( detail.ejs ) */
#board-detail-main{
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;  
}
#read-section{
    width: 70vw;
    height: 70vh;
    background-color: white;
    border: 1px solid #ebecef;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 30% 70%;
}

#read-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom : 10px;
}

#read-header h4{
   font-size: 2em;
   font-weight: 700;
   margin-bottom: 30px;
}

#read-header strong{
    font-weight: 600;
    margin-bottom: 8px;
}

#read-content{
    padding: 30px;
}


#board-table{
    height: 90%;
}
#write-footer{
   display: flex;
   justify-content: end;
   align-items: center;
}
.write-btn{
    cursor: pointer;
    width: 50px;
    height: 30px;
    margin: 10px 10px 0 0;
    background-color: #FFD6EC;
    border-radius: 5px;
}

/* 글 수정하기 팝업 ( update.ejs ) */
#updateFrom{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#update-title{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border : 1px solid #ebecef;
    
}
.table-br{
    display: none;
}

@media screen and (max-width: 767px) {
    #board-table{
        margin-bottom: 15px;
    }
    #board-table thead{
        display: none;
    }
    #board-table tr td:first-child{
        display: none;
    }
    td{
        text-align: left;
        /* height: 30px; */
    }
    .title-td{
        font-size: 1.3em;
    }
    tr{
        border-bottom: 1px solid #eee;
    }
    
}