@keyframes btnBefore{
    from {
        width: 0;
    }
    to {
        width: 100px;
        
        background-color: #FF74B1;
    }
}

@keyframes btnAfter {
    from {
      background-color: #FF74B1; 
      width: 100px;
    }
    to {
      background-color: white; 
      
      width: 0;
    }
  }

@keyframes showSpan {
    from{
        opacity: 0;
        
    }

    to{
        opacity: 1;
        
    }
}
@keyframes hiddenSpan{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}


#cart-section-title{
    width: 100%;
    height: 30vh;
    font-size: 3em;
    text-align: center;
    padding: 10vh 0;
}
.cart-list{
    display: flex;
    position: relative;
    margin : 0 auto 50px auto;
    width: 70vw;
    height: 30vh;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.cart-list .img-wrap{
    width: 25vw;
    height: 100%;
    overflow: hidden;
}
.cart-list .img-wrap img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cart-list .content-wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.cart-list .content-wrap h4{
    font-size: 2em;
}
.cart-list .content-wrap p{
    margin-top: 20px;
    font-size: 1em;
}

.cart-list .btn-wrap{
    position: absolute;
    display: flex;
    align-items: center;
    padding-right: 30px;
    width: 7vw;
    top: 0;
    right: 0;
    height: 100%;
    margin: auto 0;
    cursor: pointer;
    z-index: 50;
}

.cart-list .btn-wrap:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    z-index: -100;
  }

.cart-list .btn-wrap #remove-btn{
    font-size: 2em;
    text-align: end;
    width: 100px;
    z-index: 100;
}

.cart-list .btn-wrap .delete-span{
    position: absolute;
    right: 2.2vw;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    line-height: 1.5em;
}


.btn-hover:after{
    animation: btnBefore .5s ease-out forwards;
}

.btn-hover-out:after{
    animation: btnAfter .5s ease-in-out forwards;
}

.show{
    animation: showSpan .5s ease-out forwards;
}

.hidden{
    animation : hiddenSpan .5s ease-out forwards;
}