/* header css part*/
header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.727);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.203);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;
    z-index: 100;
}
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}
.logo a {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
}
ul {
    display: flex;
    text-align: center;
}

.header-center ul li {
    margin-right: 50px;
}

.header-center ul li > a {
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    transition-duration: 0.2s;
}
.header-center ul li > a:hover {
    font-size: 1.4em;
    transition-duration: 0.5s;
}
.header-right ul li {
    margin-left: 10px;
}
.header-right ul li a {
    font-size: 0.9em;
    transition-duration: 0.5s;
}
.header-right ul li a:hover {
    font-size: 1em;
    transition-duration: 0.5s;
}

/* menu css part  */

@keyframes showMenu {
    0% {
        height: 0vh;
        opacity: 0;
    }
    100% {
        height: 30vh;
        opacity: 1;
    }
}

#sub-header {
    position: relative;
}
.sub-category-wrap {
    display: none;
    flex-direction: column;
    font-size: 0.9em;
}
.sub-menu {
    /* height: 30vh; */
    background-color: white;
    border-bottom: 1px solid #eee;
    /* animation-name: showMenu; */
    z-index: 3;
}
.sub-menu-title-wrap {
    background-color: #eee;
}

.display-none {
    display: none;
}

/* 서브메뉴 보이기 */
.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.menu-opened {
    background-color: rgba(0, 0, 0, 0.377);
}

.menu-block {
    display: grid !important;
    /* transition: 1s; */
    animation: showMenu 1.2s ease-in-out 1 forwards;
}

.play-sub-menu {
    display: none;
}

.eat-sub-menu {
    display: none;
}

.selected-sub-menu {
    display: grid;
    grid-template-columns: 30% 70%;
}
.sub-menu-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-menu-title-wrap h4 {
    margin-bottom: 1.5em;
    font-size: 2.5em;
}
.sub-menu-title-wrap h5 {
    font-size: 1.5em;
}
.sub-menu-button-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    font-size: 1.2em;
}
.sub-menu-button-wrap a {
    width: 15em;
    padding: 1em 0;
    margin: 0 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.sub-menu-button-wrap a:hover {
    transition: 0.4s;
    background-color: #ff74b1;
    color: white;
}

.check-icon {
    position: absolute;
    top: 0.68em;
    left: 9em;
    font-size: 1.3em;
    color: white;
}

#bars-btn {
    display: none;
}

@keyframes subCategoryMargin {
    from {
        margin: 0;
        height: 0;
    }
    to {
        margin: 15px 0;
        height: 100px;
    }
}

@keyframes showSubMenu {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 100px;
        opacity: 1;
    }
}

@keyframes showSubMenuRight {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        width: 27vw;
    }
}
@keyframes hideSubMenuRight {
    from {
        opacity: 1;
        width: 27vw;
    }
    to {
        width: 0;
        opacity: 0;
        right: -50px;
        /* display를 none하면 보이진 않으나 남아있기때문에 position을 통해 숨겨버림 */
    }
}

@media screen and (max-width: 1023px) {
    .show-sub-menu-right {
        animation: showSubMenuRight 0.5s ease-in-out forwards;
        display: flex !important;
    }

    .hide-sub-menu-right {
        animation: hideSubMenuRight 0.5s forwards;
        display: flex !important;
    }

    .header-center {
        display: none;
        position: absolute;
        border-left: 1px solid #eee;
        width: 0;
        top: 88px;
        right: 0;
        height: 100vh;
        background-color: white;
    }

    .header-center .main-menu {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .main-menu > li {
        margin: 30px 0;
        transition: 1s;
        width: 300px;
        height: 150px;
    }
    .main-category {
        font-size: 1.6em !important;
    }

    .main-menu li:hover > .sub-category-wrap {
        display: flex;
        animation: showSubMenu 1s ease-in-out forwards;
        width: 100%;
    }

    .main-menu li:hover > .sub-category-wrap li {
        animation: subCategoryMargin 1s ease-in-out forwards;
    }

    .header-right li {
        display: flex;
        align-items: center;
    }

    #bars-btn {
        display: block;
        cursor: pointer;
        margin-left: 30px;
        font-size: 20px;
    }
    
}


@media screen and (max-width:767px) {
    .header-right{
        position: absolute !important;
        display: none;
        top: 80vh;
        right: 2vw;
    }
    .header-right ul{
        flex-direction: column;
    }
    .header-right ul li{
        margin-bottom: 20px;
    }
    
    #main-header{
        padding: 20px 50px;
        justify-content: space-even;
    }
    }