@charset "utf-8";

:root {
    --sea-blue-color: #7FBCD2;
    --sea-teal-color: #A5F1E9;
    --sea-green-color: #E1FFEE;
    --sea-yellow-color: #FFEEAF;
    --summer-black-color: #222831;
    --summer-blue-color: #00ADB5;
    --summer-black2-color: #393E46;
    --summer-gray-color: #EEEEEE;
  }
    
    
    /* header css part*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.727);
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.203);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: white;
    } 
    .logo {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-weight: 700;
    }
    .logo a {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: 50px;
    }
    ul {
        display: flex;
        text-align: center;
    }
    
    .header-center ul li{
        margin-right: 30px;
    }

    .header-center ul li> a {
        color: black;
        text-decoration: none;
        font-size: 1.2em;
        text-align: center;
        transition-duration: 0.2s;
    }
    .header-center ul li>a:hover {
        font-size: 1.4em;
        transition-duration: 0.5s;
    }
    .header-right ul li{
        margin-left: 10px;
    }
    .header-right ul li a {
        font-size:0.9em;
        transition-duration: 0.5s;
    }
    .header-right ul li a:hover {
        font-size:1em;
        transition-duration: 0.5s;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
    }

    /* menu css part  */

    @keyframes showMenu{
        0%{
            height: 0vh;
            opacity: 0;
        }
         100%{
            height: 30vh;
            opacity: 1;
         }
    }

    .sub-menu{
        /* height: 30vh; */
        background-color: white;
        border-bottom: 1px solid #eee;
        /* animation-name: showMenu; */
        
    }
    .sub-menu-title-wrap{
        background-color: #eee;
    }
    
    .menu-hidden{
        display: none;
    }

    /* 서브메뉴 보이기 */
    .menu-block{
        display:grid;
        /* transition: 1s; */
        animation: showMenu 1.2s ease-in-out 1 forwards;
    }

    .play-sub-menu{
        display: none;
    }

    .eat-sub-menu{
        display: none;
    }

    .selected-sub-menu{
        display : grid;
        grid-template-columns: 30% 70%;
    }
    .sub-menu-title-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .sub-menu-title-wrap h4{
        margin-bottom: 1.5em;
       font-size: 2.5em;
    }
    .sub-menu-title-wrap h5{
        font-size: 1.5em;
     }
    .sub-menu-button-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        font-size: 1.2em
    }
    .sub-menu-button-wrap a{
        width: 15em;
        padding : 1em 0;
        margin: 0 0.5em;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }

    .sub-menu-button-wrap a:hover{
        transition : .4s;
        background-color: #FF74B1;
        color: white;
    }

    .check-icon{
        position: absolute;
        top: 0.68em;
        left: 9em;
        font-size: 1.3em;
        color: white;
    }

    /* body css part */
    .bg {
        background-image: url("/assets/mainBg.jpg");
        background-color: black;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: -1;
        
    }
    body{
        position: absolute;
        top:80px;
        overflow:scroll;
        height: calc(100vh - 80px);
    }

    .main-title{
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 3em;
        margin-left: 50px;
        
    }
    
    .main-title h1{
        margin-bottom: 30px;
        color: whitesmoke
    }
   
    .main-disappear{
        opacity: 0;
        transition: 2s;
    }
    .main-appear{
        opacity: 1;
        transition: 2s;
        transform: translateX(.5s);
    }
   

    .start-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 50px;
        font-size: 0.5em;
        background-color: #FF74B1;
        color: white;
        border-radius: 10px;
        cursor: pointer;
       
    }
    
    .start-btn h2{
        margin-right: 20px;
    }
    .start-btn i{
        transition: .3s;

    }
    .move-right{
        transform: translateX(10px);
        transition: .3s;
    }
   