.pop-up {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.pop-up article {
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 5px solid #ffa1cf;
    border-radius: 10px;
    text-align: center;
}

.pop-up article h3 {
    padding-top: 30px;
    font-size: 1.5em;
}

.pop-up article #btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.pop-up article button {
    width: 70px;
    height: 45px;
    margin-right: 15px;
    cursor: pointer;
    background-color: #ffd6ec;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
    transition: 0.3s;
}

.pop-up article button:hover {
    background-color: #ffa1cf;
    transition: 0.3s;
}

.black {
    background-color: rgba(0, 0, 0, 0.6);
}