/* 즐길거리 , 먹거리 css */

/* 즐길거리 */
body{
    overflow-y: scroll;
}
.play-main{

}

.subject-title h3{ 
    padding : 1.5em 0 1.5em 1.5em;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1em;
    font-size: 2em;
}

.subject-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    }
.tour-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 20vw;
    /* height: 40vh; */
    margin: 0 20px;
    margin-bottom: 5vh;
    border : 2px solid #eee;
}
.trip-img{
    width: 100%;
    height: 25vh;
}
.content-box{
    
    display: flex;
    flex-direction: column;
    margin : 0 10px 10px 10px;
}
.tour-name{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.tour-description{
    line-height: 1.6;
    margin-bottom: 3px;
}
.detail-closed{
    display : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
    text-overflow: ellipsis;
}
.read-more-btn{
    width: 4em;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
 
}
.shopping-btn{
    font-size: 1.2em;
    font-weight: 700;
    color:  rgb(40, 40, 40);
    height: 5vh;
    background-color: #FFD6EC;
    outline: auto;
    outline-color: #FFD6EC;
    outline-style: solid;
    cursor: pointer;
}