/* 즐길거리 , 먹거리 css */

/* 즐길거리 */
body{
    overflow: scroll;
}

.subject-title h3{ 
    padding : 1.5em 0 1.5em 1.5em;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1em;
    font-size: 2em;
}

.subject-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    }
.tour-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 350px;
    /* height: 40vh; */
    margin: 0 20px;
    margin-bottom: 5vh;
    border : 2px solid #eee;
    z-index: 1;
}
.trip-img{
    z-index: 1;
    width: 100%;
    height: 250px;
}
.content-box{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin : 10px 10px 10px 10px;
}
.tour-name{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.tour-description{detailBox[i].classList.add("close-detail");
    line-height: 1.6;
    margin-bottom: 3px;
}
.detail-closed{
    display : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
    text-overflow: ellipsis;
}
.read-more-btn{
    width: 100%;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.read-more-btn:hover{
    transition: .5s;
    background-color: #ccc;
}
.shopping-btn{
    font-size: 1.2em;
    font-weight: 700;
    color:  rgb(40, 40, 40);
    width: 100%;
    height: 40px;
    background-color: #FFD6EC;
    outline: 1px;
    outline-color: #FFD6EC;
    outline-style: solid;
    cursor: pointer;
    transition: .3s;    
}

.shopping-btn:hover{
    outline-color: #FFA1CF;
    background-color: #FFA1CF;
    transition: .3s;
}
/* modal */

.pop-up article {
    justify-content: center;
}

.pop-up article h3 {
    padding-top: 0;
}

.tour-card-detail{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    background-color: rgba(0,0,0,0.8);
    top : 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    opacity: 0;
    color: white;
    z-index: -1;
}

.tour-card-detail h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}

.tour-card-detail p{
    line-height: 25px;
}

.tour-card-detail .close-detail-btn{
    height: 10%;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: .3s;
}
.tour-card-detail .close-detail-btn:hover{    
    background-color: #ccc;
    transition: .3s;
}

@keyframes showDetail {
    from{
        opacity: 0;
    }
    to{     
        opacity: 1;
    }
}   

@keyframes closeDetail{
    from{
        opacity: 1;
        z-index: 2;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}

.show-detail{
    animation: showDetail .5s ease-in-out forwards;
    z-index: 2;
}

.close-detail{
    animation: closeDetail .5s ease-in-out forwards;
    
}

@media screen and (max-width : 1023px) {
    
}

@media screen and (max-width : 767px) {
    
}