<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/login.css">

<main id="login-main">
    <section id="login-section">
        <article>
            <div id="login-frm">
                <h4 class="nanum">로그인</h4>
                <form action="" method="post" name="loginFrm">
                    <input type="text" placeholder ="아이디" class="login-text" name="id">
                    <input type="password" placeholder="비밀번호" class="login-text" name="pw">
                    <input type="button" value="로그인" id="login-btn" onclick="submitLoginForm()">
                </form>
            </div>
            <div id="auth-btn">
                <a href="/users/register">회원가입</a>
            </div>
        </article>
        <article>
            <h4>소셜로그인</h4>
            <p>SNS계정을 통해 로그인해주세요</p>
            <button onclick="kakaoAuthorization()" id="kakao-login-btn"></button>
            <button onclick="naverAuthorization()" id="naver-login-btn"></button>
        </article>
    </section>
</main>

<script src="/js/login.js"></script>
<%-include('../footer.ejs') %>