<%-include('../header.ejs') %>
<main id="login-main">
    <section></section>
    <section id="login-section">
        <article>
            <div id="login-frm">
                <h4 class="nanum">로그인</h4>
                <form action="/login/" method="post">
                    <input type="text" placeholder ="아이디" class="login-text" name="id">
                    <input type="text" placeholder="비밀번호" class="login-text" name="pw">
                    <input type="submit" value="로그인" id="login-btn">
                </form>
            </div>
            <div id="auth-btn">
                <a href="">회원가입</a>
                <a href="">비밀번호 찾기</a>
            </div>
        </article>
        <article>
            <h4>소셜로그인</h4>
            <p>SNS계정을 통해 로그인해주세요</p>
            <button>Facebook</button>
            <button onclick="kakaoAuthorization()" id="kakao-login-btn"></button>
            <p id="token-result"></p>
            <button onclick="naverAuthorization()" id="naverIdLogin">네이버</button>
        </article>
    </section>
</main>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.0/kakao.min.js" integrity="sha384-PFHeU/4gvSH8kpvhrigAPfZGBDPs372JceJq3jAXce11bVA6rMvGWzvP4fMQuBGL" crossorigin="anonymous"></script>
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>
<link rel="stylesheet" href="/css/login.css">
<%-include('../footer.ejs') %>