<%-include('../header.ejs') %>
<link rel="stylesheet" href="/css/boardStyle.css" />
<main id="write-main">
    <section class="subject-title dohyeon">
        <h3>글쓰기</h3>
    </section>
    <section id="write-section">
        <input type="text" name="title" id="write-title" class = "write-title nanum" placeholder="제목을 입력해주세요"></input>
        
        <textarea name="content" id="write-content" class = "write-title nanum"  placeholder="내용을 입력하세요"></textarea>
        <div class="write-page-btns">
                <input type="button" value="등록" onclick="toWriteSubmit()" />
                <a href="/board/page/1"><input type="button" value="취소" /></a>
                
        </div>
    </section>
</main>
<script>
    document.title = "RomanTrip > Board > Write";
</script>
<script src="/js/board.js"></script>
<%-include('../footer.ejs') %>
